*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body{
    background-color: #f0f0f0;
    padding: 20px;
}

nav {
    max-width: 1120px;
    margin: auto;
    padding: 24px 160px;
    background-color: black;
    color: #f0f0f0;
    text-transform: uppercase;

    display: flex;
    flex-direction: row;
}

.container{
    max-width: 800px;
    background-color: rgb(218, 216, 216);
    display: flex;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.sidebar{
    width: 35%;
    background-color: cadetblue;
    color: white;
    padding: 40px 20px;
}

h1 {
    font-size: 24px;
    text-transform: uppercase;
    margin-bottom: 5px;
}

h2 {
    font-size: 20px;
    letter-spacing: 2px;
    border-bottom: 1px solid #444;
    padding-bottom: 20px;
    margin-bottom: 30px;
}

.tag{
    margin-bottom: 20px;
    font-size: 14px;
}

.foto {
    width: 100%;
    filter: grayscale(100%);
    margin-bottom: 30px;
}

p {
    font-size: 12px;
    color: black;
    margin-bottom: 20px;
    font-style: italic;
}

.content{
    margin-left: 20px;
    margin-top: 20px;
}

div{
    margin: 0 auto;
}